
* {

  box-sizing: border-box;
}

body {
  
  display: flex;
  flex-direction: column;

  font-family: Helvetica;
  background-color: rgb(252, 252, 252);
  margin-top: 0; 
}

h3 {
  
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 30px;
  width:1000px;
  height: auto;
  border: 100px;
  margin-left: 500px;
  margin-top: 100px;
}

h1{
  color:#591C21
}

img {
    
    width: 100px;
    height: auto;
    display:grid;
    
  }   


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    margin: 20px;
  }

  .topnav {
     
    background-color: #025757;
    overflow: hidden;
    display: flex;
    height: 400px;
    /* content: url(Bug\ busters.mp4); */
    margin-top: 0;
    
  }
  .video {
    position: absolute;
    margin-left: 0;
  }


  .search-box {
    position: relative;
    width: 100%;
    max-width: 360px;
    height: 60px;
    border-radius: 120px;
    margin: 0 auto;
  }
  
  .search-border {
    display: block;
    width: 100%;
    max-width: 360px;
    height: 65px;
  }
  .border {
    fill: none;
    stroke: #056183;
    stroke-width: 3;
    stroke-miterlimit: 10;
  }
   
  .border-searching .border {
    stroke-dasharray: 740;
    stroke-dashoffset: 459;
    transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
     
  }
  #search {
    font-family: 'Darker Grotesque', sans-serif;
  
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 120px;
    border: none;
    background: rgba(255,255,255,0);
    padding: 0px 68px 0 68px;
  
    color: #158bba;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -0.015em;
    outline: none;
  }
 
  .image-grid  {
    
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 100px;
    
    
 
    
   
    gap: 50px;

  }

  img  {
   
    width: 400px;
    
    align-content: center;
    display: block;
    padding: 20px;
    box-shadow:   0.5px 0.5px rgba(57, 110, 110, 0.259);
    
    
  }

  ul a {
    color: black;
    line-height: 1.5;
    font-size: 22px;
    text-align: center;
    
    padding: 5px;
    border: 20px;
    margin: 0;
    font-family:'Darker Grotesque', sans-serif;
   font-weight: 400;
    text-decoration: none;
    
  }

.hidden {

  display:none;
}

  p {
  background-color: #f7f4f4c9;
  color:#0c0c0c;
  opacity: 90%;
  position: relative;
  bottom: 410px;
  
  
  
    
    
  }

  .image-grid li {
    display: block;
    background-color: rgba(231, 235, 235, 0.297);
    box-shadow: 0.5px 0.5px 1px 1px rgba(57, 110, 110, 0.6);
    border-radius: 2%;
    
    
    margin-top: 50px;
  }

  .news-home  {
    
    /* max-width: 1000px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 400px;
    margin-top: 100px;
    

    
  }

  .news-home li {

   display:block;
   border-radius: 2%;
    padding: 20px;
    min-height: 150px;

    color: black;
    line-height: 1.5;
    font-size: 22px;
    text-align: center;
    
    padding: 5px;
    border: 20px;
    
    margin: 0;
    font-family:'Darker Grotesque', sans-serif;
   font-weight: 400;
    text-decoration: none;
    

  }

  footer {
    font-family:'Darker Grotesque', sans-serif;
    text-align: center;
  }
 
  /* @media only screen and (max-width:752px) {
    .body {
      width:100%; 
      height: auto; 
    }
    .topnav {
      content: none;
    }
  } */

 

  /* @media (min-aspect-ratio: 16/9){
    .video {
      width: 100%;
      height: auto;

    }
  }
    
  @media (max-aspect-ratio: 16/9){
    .video {
      width: auto;
      height: 100hv;

    }
  } */